<?xml version="1.0" encoding="UTF-8"?>
<server description="Liberty jsf-uebung">
  <featureManager>
    <feature>faces-3.0</feature>
    <feature>servlet-5.0</feature>
    <feature>cdi-3.0</feature>
  </featureManager>

  <variable name="http.enabled" defaultValue="true" />
  <variable name="http.host" defaultValue="*" />
  <variable name="http.port" defaultValue="9080" />
  <variable name="https.port" defaultValue="9443" />
  <variable name="derby.serverName" defaultValue="localhost" />
  <variable name="derby.port" defaultValue="1527" />
  <variable name="derby.databaseName" defaultValue="uebung" />
  <variable name="derby.user" defaultValue="APP" />
  <variable name="derby.password" defaultValue="APP" />

  <!-- HTTP -->
  <httpEndpoint id="defaultHttpEndpoint" host="${http.host}" httpPort="${http.port}"
    httpsPort="${https.port}" enabled="${http.enabled}" />

  <!-- DataSource -->
  <dataSource id="jdbc/DerbyDS" jndiName="jdbc/DerbyDS" type="javax.sql.XADataSource"
    jdbcDriverRef="jdbcDriver">
    <properties.derby.client createDatabase="false" serverName="${derby.serverName}"
      portNumber="${derby.port}" databaseName="${derby.databaseName}" user="${derby.user}"
      password="${derby.password}" />
  </dataSource>

  <!-- JDBC -->
  <jdbcDriver id="jdbcDriver" libraryRef="jdbcLib"
    javax.sql.XADataSource="org.apache.derby.jdbc.ClientXADataSource" />
  <library id="jdbcLib" filesetRef="jdbcFileset" />
  <fileset id="jdbcFileset" dir="${server.config.dir}/lib/jdbc" includes="*.jar" />

</server>
